@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="25">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudText Typo="Typo.h5" Class="mudblazor-appbar-brand-text">BlazorNET</MudText>
        </MudHidden>
        <MudSpacer />

        <MudSpacer />
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudTooltip Text="Toggle light/dark theme">
                <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
            </MudTooltip>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
            <MudMenu Icon="@Icons.Filled.Settings" Color="Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true">
                <div class="px-2">
                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                </div>
            </MudMenu>
        </MudHidden>
    </MudAppBar>

    <MudDrawer @bind-Open=_drawerOpen Elevation="25" Class="mudblazor-appbar-band">
        <MudDrawerHeader Class="mudblazor-brand" LinkToIndex="true">

            <svg viewBox="0 0 1653 1049" xmlns="http://www.w3.org/2000/svg" class="mudblazor-logo">
            <path fill="#7467EF" d="M0.15,572.58V0.16L495.9,286.37v190.81L165.4,286.37v381.62L0.15,572.58z" />
            <path fill="#594AE2" d="M495.9,286.37L991.65,0.16v572.43l-330.5,190.81l-165.25-95.4l330.5-190.81V286.37L495.9,477.18V286.37z" />
            <path fill="#7467EF" d="M495.9,667.99V858.8l330.5,190.81V858.8L495.9,667.99z" />
            <path fill="#594AE2" d="M826.4,1049.6l495.75-286.21V0.37l-165.25,95.4v572.21L826.4,858.8V1049.6z" />
            <path fill="#7467ef" d="M1495,467.85l-165.25,95.41,157.47,91.52,165.25-95.38Z" />
            <path fill="#7467EF" d="M1322.15,763.39l-165.25,95.4l330.5,190.81V858.8L1322.15,763.39z" />
            <path fill="#7467EF" d="M1322.13,0.38l-165.25,95.4l330.29,190.83l165.25-95.38L1322.13,0.38z" />
            <path fill="#594AE2" d="M1652.43,191.21l-165.25,95.41v762.99l165.25-95.4L1652.43,191.21z" />
        </svg>

            @*<svg width="256px" height="256px" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
            <g>
                <path d="M256,128 C256,198.6925 198.6925,256 128,256 C57.3075,256 0,198.6925 0,128 C0,57.3075 57.3075,0 128,0 C198.6925,0 256,57.3075 256,128" fill="#7D29E4"></path>
                <path d="M169.888,125.664 L119.7965,125.664 L119.7965,63.2395 C119.7965,60.359 118.3835,58.0235 114.5805,58.0235 C110.968,58.0235 109.365,60.359 109.365,63.2395 L109.365,193.847 C109.365,196.7275 110.7775,199.063 114.5805,199.063 C118.1935,199.063 119.7965,196.7275 119.7965,193.847 L119.7965,136.095 L169.888,136.095 C172.7685,136.095 175.1035,134.6825 175.1035,130.8795 C175.1035,127.2665 172.7685,125.664 169.888,125.664" fill="#FFFFFF"></path>
            </g>
        </svg>*@

            @*<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.5 40.5C33.5 40.1022 33.342 39.7207 33.0607 39.4394C32.7794 39.158 32.3978 39 32 39C28.4006 39.018 24.8349 39.6958 21.48 41C21.0228 38.022 20.7988 35.0129 20.81 32C20.799 28.9872 21.023 25.978 21.48 23C24.8349 24.3044 28.4005 24.9823 32 25C35.5994 24.9814 39.1649 24.3035 42.52 23C42.977 25.978 43.2011 28.9872 43.19 32C43.19 32.3978 43.348 32.7794 43.6294 33.0607C43.9107 33.342 44.2922 33.5 44.69 33.5C45.0878 33.5 45.4694 33.342 45.7507 33.0607C46.032 32.7794 46.19 32.3978 46.19 32C46.1968 28.5791 45.9158 25.1638 45.35 21.79C48.2468 20.3168 50.8819 18.3776 53.15 16.05C56.6237 20.6417 58.5023 26.2424 58.5 32C58.5 32.3978 58.658 32.7794 58.9394 33.0607C59.2207 33.342 59.6022 33.5 60 33.5C60.3978 33.5 60.7794 33.342 61.0607 33.0607C61.342 32.7794 61.5 32.3978 61.5 32C61.5 26.1655 59.7699 20.4619 56.5284 15.6107C53.2869 10.7594 48.6796 6.97835 43.2892 4.74557C37.8988 2.51278 31.9673 1.92858 26.2448 3.06685C20.5224 4.20511 15.266 7.01471 11.1404 11.1404C7.01471 15.266 4.20511 20.5224 3.06685 26.2448C1.92858 31.9673 2.51278 37.8988 4.74557 43.2892C6.97835 48.6796 10.7594 53.2869 15.6107 56.5284C20.4619 59.7699 26.1655 61.5 32 61.5C32.3978 61.5 32.7794 61.342 33.0607 61.0607C33.342 60.7794 33.5 60.3978 33.5 60C33.5 59.6022 33.342 59.2207 33.0607 58.9394C32.7794 58.658 32.3978 58.5 32 58.5C28.11 58.5 24 53 22 44C25.1714 42.6888 28.5683 42.0094 32 42C32.3978 42 32.7794 41.842 33.0607 41.5607C33.342 41.2794 33.5 40.8978 33.5 40.5ZM32 22C28.5686 21.9871 25.1724 21.3078 22 20C24 11 28.11 5.50001 32 5.50001C35.89 5.50001 40 11 42 20C38.8276 21.3078 35.4314 21.9871 32 22V22ZM51.19 13.77C49.3068 15.7633 47.1238 17.4503 44.72 18.77C43.5 13.6 41.6 9.37001 39.24 6.51001C43.7985 7.81268 47.9248 10.3127 51.19 13.75V13.77ZM24.76 6.51001C22.4 9.37001 20.5 13.6 19.28 18.72C16.8762 17.4003 14.6933 15.7133 12.81 13.72C16.0815 10.297 20.2065 7.80823 24.76 6.51001V6.51001ZM10.85 16.05C13.1181 18.3776 15.7532 20.3168 18.65 21.79C17.53 28.5473 17.53 35.4428 18.65 42.2C15.7492 43.692 13.114 45.6516 10.85 48C7.37825 43.4073 5.49978 37.8073 5.49978 32.05C5.49978 26.2928 7.37825 20.6927 10.85 16.1V16.05ZM24.76 57.49C20.1836 56.1955 16.039 53.695 12.76 50.25C14.6437 48.2572 16.8266 46.5703 19.23 45.25C20.1384 49.6911 22.0277 53.873 24.76 57.49V57.49Z" fill="black" />
                <path d="M60.0001 39.5601C59.6022 39.5601 59.2207 39.7181 58.9394 39.9994C58.6581 40.2807 58.5001 40.6622 58.5001 41.0601C58.4948 45.6838 56.6556 50.1167 53.3862 53.3862C50.1167 56.6556 45.6838 58.4948 41.0601 58.5001C40.6622 58.5001 40.2807 58.6581 39.9994 58.9394C39.7181 59.2207 39.5601 59.6022 39.5601 60.0001C39.5601 60.3979 39.7181 60.7794 39.9994 61.0607C40.2807 61.342 40.6622 61.5001 41.0601 61.5001C46.4795 61.4948 51.6754 59.3396 55.5075 55.5075C59.3396 51.6754 61.4948 46.4795 61.5001 41.0601C61.5001 40.6622 61.342 40.2807 61.0607 39.9994C60.7794 39.7181 60.3979 39.5601 60.0001 39.5601Z" fill="black" />
                <path d="M41.0601 56.5001C45.1534 56.4948 49.0775 54.8664 51.9719 51.9719C54.8664 49.0775 56.4948 45.1534 56.5001 41.0601C56.5001 40.6622 56.342 40.2807 56.0607 39.9994C55.7794 39.7181 55.3979 39.5601 55.0001 39.5601C54.6022 39.5601 54.2207 39.7181 53.9394 39.9994C53.6581 40.2807 53.5001 40.6622 53.5001 41.0601C53.4974 44.3585 52.1859 47.5212 49.8535 49.8535C47.5212 52.1859 44.3585 53.4974 41.0601 53.5001C40.6622 53.5001 40.2807 53.6581 39.9994 53.9394C39.7181 54.2207 39.5601 54.6022 39.5601 55.0001C39.5601 55.3979 39.7181 55.7794 39.9994 56.0607C40.2807 56.342 40.6622 56.5001 41.0601 56.5001V56.5001Z" fill="black" />
                <path d="M41.0601 51.5001C43.8281 51.4974 46.482 50.3966 48.4393 48.4393C50.3966 46.482 51.4974 43.8281 51.5001 41.0601C51.5001 40.6622 51.342 40.2807 51.0607 39.9994C50.7794 39.7181 50.3979 39.5601 50.0001 39.5601C49.6022 39.5601 49.2207 39.7181 48.9394 39.9994C48.6581 40.2807 48.5001 40.6622 48.5001 41.0601C48.4974 43.0325 47.7127 44.9233 46.318 46.318C44.9233 47.7127 43.0325 48.4974 41.0601 48.5001C40.6622 48.5001 40.2807 48.6581 39.9994 48.9394C39.7181 49.2207 39.5601 49.6022 39.5601 50.0001C39.5601 50.3979 39.7181 50.7794 39.9994 51.0607C40.2807 51.342 40.6622 51.5001 41.0601 51.5001V51.5001Z" fill="black" />
                <path d="M46.5 41.06C46.5 39.9841 46.1809 38.9323 45.5832 38.0377C44.9854 37.1431 44.1358 36.4458 43.1418 36.0341C42.1478 35.6224 41.054 35.5146 39.9987 35.7245C38.9434 35.9344 37.9741 36.4525 37.2133 37.2133C36.4525 37.9741 35.9344 38.9434 35.7245 39.9987C35.5146 41.054 35.6224 42.1478 36.0341 43.1418C36.4458 44.1358 37.1431 44.9854 38.0377 45.5832C38.9323 46.1809 39.9841 46.5 41.06 46.5C42.502 46.4974 43.8841 45.9234 44.9037 44.9037C45.9234 43.8841 46.4974 42.502 46.5 41.06ZM38.62 41.06C38.62 40.5774 38.7631 40.1057 39.0312 39.7044C39.2993 39.3031 39.6804 38.9904 40.1262 38.8057C40.5721 38.6211 41.0627 38.5727 41.536 38.6669C42.0093 38.761 42.4441 38.9934 42.7853 39.3347C43.1266 39.6759 43.359 40.1107 43.4531 40.584C43.5473 41.0573 43.4989 41.5479 43.3143 41.9937C43.1296 42.4396 42.8168 42.8207 42.4156 43.0888C42.0143 43.3569 41.5426 43.5 41.06 43.5C40.4129 43.5 39.7922 43.2429 39.3347 42.7853C38.8771 42.3277 38.62 41.7071 38.62 41.06V41.06Z" fill="black" />
            </svg>*@

        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="mudblazor-main-content">
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>

        <MudScrollToTop TopOffset="400">
            <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
        </MudScrollToTop>
    </MudMainContent>

</MudLayout>

@code
{

    private bool _drawerOpen = false;
    private string searchValue = string.Empty;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override void OnInitialized()
    {
        _currentTheme = _defaultTheme;

    }

    #region Theme

    private void DarkMode()
    {
        if (_currentTheme == _defaultTheme)
        {
            _currentTheme = _darkTheme;
        }
        else
        {
            _currentTheme = _defaultTheme;
        }
    }

    private MudTheme _currentTheme = new MudTheme();
    private readonly MudTheme _defaultTheme =
        new MudTheme()
        {
            Palette = new Palette()
            {
                Black = "#272c34"
            }
        };
    private readonly MudTheme _darkTheme =
        new MudTheme()
        {
            Palette = new Palette()
            {
                Black = "#27272f",
                Background = "#32333d",
                BackgroundGrey = "#27272f",
                Surface = "#373740",
                DrawerBackground = "#27272f",
                DrawerText = "rgba(255,255,255, 0.50)",
                AppbarBackground = "#27272f",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",
                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
                DrawerIcon = "rgba(255,255,255, 0.50)"
            }
        };

    #endregion

}