<MudNavMenu Class="mudblazor-navmenu">
    <div class="docs-nav-fader"></div>

    <MudNavGroup Title="Getting Started"
                 Icon="@Icons.Material.Filled.School"
                 ExpandIcon="@Icons.Material.Filled.ExpandMore" Style="margin-top: 40px;">
        <MudNavLink Href="/">Home</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Create Post"
                 Icon="@Icons.Filled.NoteAdd"
                 ExpandIcon="@Icons.Material.Filled.ExpandMore">
        <MudNavLink Href="/create">Create Post</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Activities Dashboard"
                 Icon="@Icons.Filled.AccountTree"
                 ExpandIcon="@Icons.Material.Filled.ExpandMore">
        <MudNavLink Href="/currentActivity">Current Activity</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorNET</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="create">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Post
            </NavLink>
        </li>
    </ul>
</div>*@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
